<h1 class="text-center">
  {{!-- https://www.flaticon.com/free-icons/crying --}}
  <img src="/images/error/crying.png" height="30px" width="30px" class="errorPage" style="vertical-align: baseline;">
  {{message}}
</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>