{{#if messages}}
<div class="alert alert-danger text-center">Invalid Credentials</div>
{{else}}
<div class="alert alert-info text-center">Please enter your credentials below</div>
{{/if}}

{{!-- Bootstrap Snippets --}}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">{{title}}</h5>
          <form method="post">
            <div class="form-floating mb-3">
              <input type="email" name="username" class="form-control" id="username" placeholder="yummy@demo.com"
                required>
              <label for="username">Email Address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="password" class="form-control" id="password" placeholder="yummy123" required>
              <label for="password">Password</label>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Log In</button>
            </div>
            <p></p>
            <small class="text-center" style="display: block;">New user?
              <a href="/register" data-bs-toggle="tooltip"
                title="Jump to the registration page and create a new account.">
                Create an account!
              </a>
            </small>
            <div class="d-flex justify-content-center align-items-center rounded border githubLogin">
              <a class="" href="/github" target="_blank" data-bs-toggle="tooltip"
                title="Login with your GitHub account.">
                {{!-- Bootstrap Icon --}}
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
              </a>
            </div>

            {{!--
            <hr class="my-4">
            <div class="d-grid">
              <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
              </button>
            </div> --}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>